@import "./var.less";
@import "./fn.less";

body {
    background-color: #f5f5f5;
}

//头部
.header {
    height: 40px;
    background-color: #f5f5f5;
    line-height: 40px;
    border-bottom: 1px solid #e6e6e6;
    ;

    >div {
        .displayFlex();
        justify-content: space-between;
        height: 40px;
        padding: 0px 8px 0px 0px;

        ul {
            .displayFlex();
            justify-content: space-between;
            font-size: @f12;
            height: 40px;
            line-height: 40px;

            li {

                // padding: 0 5px;
                .icon-tel1,
                .icon-tel2 {
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    background: url(/images/icon.png) no-repeat;
                    background-position: -25px -5px;
                    vertical-align: -5px;
                    margin-right: 5px;
                }

                .icon-tel2 {
                    background-position: -25px -27px;
                    margin-left: 8px;
                }

                .tel {
                    font-size: 18px;
                    margin-left: 10px;
                    font-weight: bold;
                    color: #666;
                    margin-right: 8px;
                }
            }

        }

        .nav-right {
            li {
                padding: 0 10px;
            }

            margin-right: 10px;
        }
    }
}

.main.container {
    padding: 0px 0px;
}

// 内容区顶部
.top {
    height: 100px;
    line-height: 100px;
    padding: 0px 0px;
    .displayFlex();
    justify-content: space-between;

    .top-nav {
        .displayFlex();

        ul {
            .displayFlex();
            margin-right: 20px;

            a {
                font-size: @f16;
                color: #454545;
                margin: 0 20px;

                &.active {
                    border-bottom: 2px solid #d39938;
                    padding: 6px 0;
                }
            }

            .user {
                a {
                    display: inline-block;
                    margin: -6px 20px 0 20px;
                    padding: 0 11px;
                    line-height: 33px;
                    background: #f9f9f9;
                    color: #d39938 !important;
                    border: 1px solid #e6e6e6;
                    font-size: 14px !important;

                    .icon {
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        background: url(/images/icon.png) no-repeat;
                        background-position: -50px -5px;
                        vertical-align: -4px;
                        margin-right: 5px;
                    }
                }
            }
        }

    }
}

.main-top {
    background-color: #fff;
}

// 轮播图
.banner {
    min-width: 1200px;

    img {
        width: 100%;
    }

    ol {
        li {
            width: 12px;
            height: 12px;
            border-radius: 50%;
        }
    }
}

// 内容区
.main {

    .notice {
        padding: 20px 0;
        font-size: @f14;
        color: #333;
        .displayFlex();
        justify-content: space-between;

        .left {
            flex: 1;
        }

        .right {
            .displayFlex();
            justify-content: space-between;

            .up-down {
                .displayFlex();
                margin-right: 26px;

                .title {
                    width: 200px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                .icon {
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    // margin-right: 20px;
                    background: url(/images/home_sprite.png) no-repeat;
                    background-position: 0 -86px;
                    margin-right: 10px;
                }
            }
        }
    }

    .product,
    .transfer {
        .title {
            font-size: 14px;
            color: #333;
            .displayFlex();
            justify-content: space-between;
            padding: 20px 0;

            >div:first-child {
                font-size: 18px;
            }

            span {
                margin-right: 20px;
                color: #d7a34c;
            }
        }
    }

    .content {
        width: 1200px;
        height: 450px;
        .displayFlex();
        justify-content: space-between;
        border-top: 1px solid #f5a200;
        color: #666;

        .left {
            background-color: #f5a200;
            width: 280px;
            padding: 26px;
            color: #fff;
            line-height: normal;

            hr {
                border-top: 1px solid #fff;
            }

            .bottom {
                margin-top: 180px;
                position: relative;
                .displayFlex();

                .title1 {
                    display: inline-block;
                    background: #e98703;
                    padding: 6px;
                    font-size: 16px;
                    color: #fff !important;
                    margin-bottom: 10px;
                }

                .title2 {
                    color: #fff !important;
                }

                .icon {
                    width: 130px;
                    height: 142px;
                    background: url(/images/home_sprite.png) no-repeat;
                    background-position: -158px -126px;
                    position: absolute;
                    right: -22px;
                    bottom: -18px;
                }
            }


        }

        .right {
            flex: 1;
            border-bottom: 1px solid #eaeaea;
            border-right: 1px solid #eaeaea;
            background-color: #fff;

            >ul {

                // margin: 0px 26px;
                >li:last-child {
                    border: none;
                }

                >li {
                    border-bottom: 1px solid #eaeaea;
                    // margin-top: 10px;
                    padding: 0 26px;
                    height: 150px;
                    cursor: pointer;

                    &:hover {
                        background-color: rgb(252, 252, 252);
                    }
                }

                .title {
                    .displayFlex();
                    justify-content: flex-start;
                    align-items: center;

                    font-size: 16px;

                    a {
                        margin-right: 20px;
                    }

                    span {
                        display: inline-block;
                        padding: 0 6px;
                        border: 1px solid #daa346;
                        border-radius: 2px;

                    }

                }

                .center {

                    .displayFlex();
                    justify-content: space-between;
                    line-height: normal;
                    box-sizing: border-box;
                    margin-bottom: 20px;

                    li {
                        border-right: 1px dashed #eaeaea;
                        padding: 0 100px 0 0;

                        p {
                            margin-bottom: 12px;
                        }

                        span {
                            font-size: 12px;
                        }
                    }

                    li:nth-child(4),
                    li:nth-child(5) {
                        border-right: none;

                    }

                    li:last-child {
                        padding: 0 0;
                    }

                    li:first-child {
                        padding: 0 50px 0 0;
                    }

                    .bar {
                        margin-top: -6px;

                        >div {
                            display: inline-block;
                            background: #d7a34c;
                            width: 118px;
                            height: 5px;
                            border-radius: 4px;
                        }

                        span {
                            color: #d7a34c;
                            font-size: 16px;
                            vertical-align: -2px;
                        }
                    }

                    .buy {
                        width: 160px;
                        height: 30px;
                        border-radius: 4px;
                        background-color: #aaa;
                        text-align: center;
                        line-height: 30px;
                        margin-top: 6px;

                        a {
                            color: #fff !important;
                        }
                    }

                }

            }
        }
    }

    .transfer {
        .content {
            border-top: 1px solid #36c9a1;

            .left {
                background-color: #36c9a1;
            }
        }

        .title1 {
            background-color: #18b98d !important;
        }

        .title2 {
            white-space: nowrap;
        }

        .icon {
            background: url(/images/home_sprite.png);
            background-position: 0 -287px !important;

        }


    }

    .news {
        .displayFlex();
        
        margin-top: 30px;

        .left {
            flex: 1;
            background-color: #fff;
            margin-right: 20px;
            padding: 20px;
            .left-content {
                .displayFlex();
                p:nth-child(2){
                    overflow:hidden;
                    text-overflow:ellipsis;
                    display:-webkit-box; 
                    -webkit-box-orient:vertical;
                    -webkit-line-clamp:2; 
                }
                p:nth-child(3),p:nth-child(4){
                    width: 300px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                >div:nth-child(2){                    
                     margin-left:20px; 
                     margin-top: 30px;  
                     
                    p{
                        font-size: 14px;
                        display: inline-block;
                        width: 170px;
                    }               
                }
                >div:nth-child(3){
                    border-left: 1px dashed #ddd;
                    padding-left: 30px;
                    h5{
                        a{
                            font-size: 16px;
                         color:#428bca !important;
                        }
                    }
                    >p{
                        font-size: 14px;
                    }
                }
            }
            h4{
                .displayFlex();
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;
                a{
                    font-size: 12px;
                    display: inline-block;
                }
            }
        }

        .right {
            width: 345px;
            background-color: #fff;
            padding: 20px;
            h4{
                .displayFlex();
                justify-content: space-between;
                align-items: center;
                margin-bottom: 40px;
                font-size: 16px;
                margin-top: 4px;
                a{
                    font-size: 12px;
                    display: inline-block;
                }
            }
            p{
                
                font-size: 14px;
                width: 300px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

            }
        }
    }
    .lend{
        div:nth-child(2){
            margin-top: 0 !important;
        }
        .title{
            
            a{
                color: #428bca !important;
                font-size: 16px;
            }
        }
        span{
            font-size: 14px;
        }
        .right{
            
            >div{
                cursor: pointer;
               background-color:#e4f0fe ; 
               margin: 30px 0 10px 0;
               padding: 10px 0;
               border-radius: 6px;
               .displayFlex();
               .icon{
                display: inline-block;
                width: 40px;
                height: 40px;
                background: url(/images/home_sprite.png);
                background-position: 0 -510px;
                margin:6px 10px 0;
                }
                >div{align-self: center;
                    .displayFlex();
                    h5{
                        font-weight: bold;
                    }
                    span{
                        display: inline-block;
                        height: 28px;
                        padding: 2px 15px ;
                        color: #fff;
                        background-color: #4a8bc8;
                        border-radius: 4px;
                        margin-left: 16px;
                    }
                }
                
            }
            >div:nth-child(3){
                background-color: #fff8e5;
                .icon{
                 background-position: -60px -510px;
                 
                 }
                 >div{align-self: center;
                     
                     span{
                         
                         background-color: #e3af31;;
                         
                     }
                 }
                 
             }
        }
    }
    .online{
        position: fixed;
        right: 0;
        top: 122px;
        width: 50px;
        // height: 190px;
        z-index: 100;
        background-color: #e06773;
        text-align: center;
        // padding: 4px 16px;
        .up{
            margin: 4px 16px;
            a{
            display: inline-block;
            height: 135px;
            .icon{
                width: 18px;
                height: 18px;
                background: url(/images/icon_kxjf.png) no-repeat;
                margin-top: 6px;
                margin-bottom: 6px;
                display:inline-block;
            }
            span{
                color: #fff;
            }
        }
    }
       
        .down{
            cursor: pointer;
            width: 50px;
            margin-top: 12px;
            border-top: 1px solid #fff;
            padding-top: 10px;
            padding-bottom: 10px;
            .icon{
                display: inline-block;
                width: 50px;
                height: 50px;
                background: url(/images/sign-mark.png) no-repeat;
                background-position: 12px 6px;
                
            }
            a{
                top: 0px;
                color: #fff !important;
            }
        }
    }
}

// 页尾
.footer {
    .top {
        margin-top: 30px;
        height: 200px;
        width: 100%;
        background-color: #414141;
        padding-bottom: 50px;
        padding-top: 30px;

        p {
            line-height: normal;
            margin-bottom: 0rem;
            color: #fff
        }

        .container {
            .displayFlex();
            justify-content: left;
            // align-items: center;

            .tel {
                font-size: 28px;
                font-weight: bold;
            }

            >div:first-child {
                text-align: right;
                margin-top: 20px;
            }

            >div:nth-child(2) {
                margin-top: 4px;
                margin: 4px 30px;
            }

            >div:nth-child(3) {
                margin-top: 20px;
                font-size: 12px;
                padding-left: 30px;
                border-left: 1px solid #999;

                p {
                    color: #999;
                    margin-bottom: 4px;
                }

                a {
                    color: #999 !important;

                    img {
                        vertical-align: -3px;
                        margin-right: 6px;
                    }
                }
            }
        }
    }

    .bottom {
        height: 45px;
        width: 100%;
        background-color: #343434;

        ul {
            .displayFlex();
            justify-self: start;
            line-height: 45px;

            li {
                a {
                    color: #999 !important;
                    font-size: 12px !important;
                }

                margin-left: 20px;
            }

            li:first-child {
                color: #fff;
            }
        }
    }
}